/*
Thanks JaydenDev!
*/

/* This CSS is cool right? */

/* Dependencies */
@import url('https://fonts.googleapis.com/css2?family=Nuntio:wght@100&display=swap');

body {
  background-color: white;
}

* {
  color: white;
  font-family: 'Nuntio', sans-serif;
}

p {
  font-size: 10pt;
  color: white;
}

.clean-ul {
  list-style-type: none;
}

.center-element {
  display: flex;
  justify-content: center;
}

.global-navbar-hl-blue {
  background-color: blue;
  border-radius: 5pt;
  padding: 5pt;
  /*display: flex;
  justify-content: center; */
  
}

.global-element-hl-blue {
  background-color: blue;
  border-radius: 5pt;
  margin: 0 auto;
  padding: 5pt;
}

.blue-tile {
  background-color: blue;
  border-radius: 5pt;
  margin: 0 auto;
  padding: 5pt;
  width: 15%;
  height: 15%;
  float: left;
}
